Repository dumclibrary/medspace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency_scanning, sast, test, medspace_build, fcrepo_build, solr_build

dependency_scanning:
  stage: test
  cache: {}
  image: docker:stable
  tags:
  - docker
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  ...

sast:
  stage: test
  cache: {}
  image: docker:stable
  tags:
  - docker
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  ...

test:
  stage: test
  image: $CI_REGISTRY/mclibrary/medspace
  services:
  - redis:3-alpine
  - $CI_REGISTRY/mclibrary/medspace/solr:ci
  - $CI_REGISTRY/mclibrary/medspace/fcrepo
  variables:
    REDIS_HOST: redis
    FCREPO_URL: http://$CI_REGISTRY-mclibrary-medspace-fcrepo:8080
  ...

medspace_build:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker pull $MEDSPACE_IMAGE:latest || true
  - docker build --cache-from $MEDSPACE_IMAGE:latest -t $MEDSPACE_IMAGE .
  - docker push $MEDSPACE_IMAGE
  tags:
  - docker

fcrepo_build:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker build -t $FCREPO_IMAGE docker-fcrepo
  - docker push $FCREPO_IMAGE
  tags:
  - docker

solr_build:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker build -t $SOLR_IMAGE solr
  - docker build -t $SOLR_IMAGE:ci -f solr/ci.Dockerfile solr
  - docker push $SOLR_IMAGE
  - docker push $SOLR_IMAGE:ci
  tags:
  - docker

Update command
  docker-compose.override.yml
Due: none

Uncomment test task
  .gitlab-ci.yml
Due: none

Always run tests for debugging
  .gitlab-ci.yml
Due: none

Define sqlite gem version
  Gemfile
  Gemfile.lock
Due: dependency_scanning, medspace_build

Run test migration
  .gitlab-ci.yml
Due: none

Only run tests on relevant changes
  .gitlab-ci.yml
Due: none

Change nfs version to 3
  docker-compose.production.yml
Due: none

Remove additional options
  docker-compose.production.yml
Due: none

Update host url for review apps
  .gitlab-ci.yml
  docker-compose.production.yml
Due: none

Add master review task
  .gitlab-ci.yml
Due: none

Install supervisor
  Dockerfile
Due: medspace_build

Resolve old merge
  .gitignore
Due: none

Create supervisor configuration
  supervisord.conf
Due: none

Add redis configuration for docker-compose
  app.env
  docker-compose.override.yml
Due: none

Run supervisord by default
  docker-compose.yml
Due: none

Remove sidekiq container
  docker-compose.production.yml
Due: none

Remove uploads volume
  docker-compose.production.yml
Due: none

Use sidekiq queue in development
  config/environments/development.rb
Due: sast, medspace_build

Switch to development mode
  docker-compose.production.yml
Due: none

Run development migrations
  docker-compose.production.yml
Due: none

Use mysql for development
  config/database.yml
  config/environments/development.rb
Due: sast, medspace_build

fixes workflow issues
  app/models/search_builder.rb
  app/views/hyrax/base/show.html.erb
  app/views/hyrax/images/show.html.erb
  docker-compose.override.yml
Due: sast, test, medspace_build

fixes Document display issues
  app/views/hyrax/documents/_attribute_rows.html.erb
  app/views/hyrax/external_objects/show.html.erb
  config/authorities/resource_types.yml
Due: sast, test, medspace_build

Fix web build
  Dockerfile
Due: medspace_build

Change docker swarm host
  .gitlab-ci.yml
Due: none

Update Ruby version
  .ruby-version
  Dockerfile
Due: medspace_build

Separate dependencies
  Dockerfile
  Dockerfile-dependencies
Due: medspace_build

Build dependencies image
  .gitlab-ci.yml
Due: none

Only build dependencies when scheduled
  .gitlab-ci.yml
Due: none

Upgrade to Hyrax 2.5.1
  Gemfile
  Gemfile.lock
Due: dependency_scanning, medspace_build

Update dependencies build task
  .gitlab-ci.yml
Due: none

Moves schedules to refs key
  .gitlab-ci.yml
Due: none

Add healthcheck to dependencies
  Dockerfile-dependencies
Due: none

Add healthcheck to fcrepo image
  docker-fcrepo/Dockerfile
Due: fcrepo_build

Add healthcheck to solr image
  solr/Dockerfile
Due: solr_build

Add healthchk cmd
  docker-fcrepo/Dockerfile
Due: fcrepo_build

Add redis healthcheck
  docker-compose.redis.yml
Due: none

Add include files from gitlab-ci
  .gitlab-ci.yml
Due: none

Use dockerfile-publish to publish dependencies
  .gitlab-ci.yml
Due: none

Only build on scheduled pipelines
  .gitlab-ci.yml
Due: none

Path conditions:
  dependency_scanning: any of: Gemfile, Gemfile.lock
  sast: any of: app/**/*, config/**/*, spec/**/*, test/**/*
  test: any of: app/**/*, spec/**/*, test/**/*
  medspace_build: any of: app/**/*, bin/**/*, config/**/*, lib/**/*, public/**/*, vendor/**/*, Gemfile, Gemfile.lock, Dockerfile
  fcrepo_build: any of: docker-fcrepo/**/*
  solr_build: any of: solr/**/*
