Repository dumclibrary/medspace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency_scanning, sast, publish-dependencies-image, publish-review-image, publish-solr-image, publish-fcrepo-image, publish-solr-ci-image, test

dependency_scanning:
  stage: test
  cache: {}
  image: docker:stable
  tags:
  - docker
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  ...

sast:
  stage: test
  cache: {}
  image: docker:stable
  tags:
  - docker
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  ...

publish-dependencies-image:
  stage: pre-publish
  variables:
    DOCKERFILE: Dockerfile-dependencies
    TAG: ${CI_REGISTRY_IMAGE}:dependencies

publish-solr-image:
  variables:
    CONTEXT: solr
    DOCKERFILE: solr/Dockerfile
    TAG: ${CI_REGISTRY_IMAGE}/solr:latest

publish-fcrepo-image:
  variables:
    CONTEXT: solr
    DOCKERFILE: docker-fcrepo/Dockerfile
    TAG: ${CI_REGISTRY_IMAGE}/fcrepo:latest

publish-solr-ci-image:
  stage: pre-build
  variables:
    CONTEXT: solr
    DOCKERFILE: solr/Dockerfile-ci
    TAG: ${CI_REGISTRY_IMAGE}/solr:ci

test:
  stage: test
  image: $CI_REGISTRY/mclibrary/medspace
  services:
  - redis:3-alpine
  - $CI_REGISTRY/mclibrary/medspace/solr:ci
  - $CI_REGISTRY/mclibrary/medspace/fcrepo
  variables:
    REDIS_HOST: redis
    FCREPO_URL: http://$CI_REGISTRY-mclibrary-medspace-fcrepo:8080
  ...

hide location if not authenticated
  app/views/hyrax/images/_attribute_rows.html.erb
Due: sast, publish-review-image, test

added nil for handle
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  app/actors/hyrax/actors/handle_assurance_actor.rb
  fits
  lib/tasks/handle.rake
Due: sast, publish-dependencies-image, publish-review-image, publish-solr-image, publish-fcrepo-image, publish-solr-ci-image, test

change attribute from identifier to handle
  app/lib/handle_dispatcher.rb
Due: sast, publish-review-image, test

changed empty to blank
  app/actors/hyrax/actors/handle_assurance_actor.rb
  lib/tasks/handle.rake
Due: sast, publish-review-image, test

returned to handle base files
  app/actors/hyrax/actors/handle_assurance_actor.rb
  app/jobs/handle_register_job.rb
  app/jobs/handle_update_job.rb
  app/lib/handle_builder.rb
  app/lib/handle_dispatcher.rb
  lib/tasks/handle.rake
Due: sast, publish-review-image, test

require handle added
  app/jobs/handle_register_job.rb
Due: sast, publish-review-image, test

corrected syntax
  app/jobs/handle_register_job.rb
Due: sast, publish-review-image, test

corrected syntax on update
  app/jobs/handle_update_job.rb
Due: sast, publish-review-image, test

editing target name
  .gitlab-ci.yml
Due: publish-dependencies-image, publish-review-image, publish-solr-image, publish-fcrepo-image, publish-solr-ci-image

enumable to singular
  app/jobs/handle_register_job.rb
Due: sast, publish-review-image, test

removed first to see if needed
  app/jobs/handle_update_job.rb
  lib/tasks/handle.rake
Due: sast, publish-review-image, test

removed brackets from handle_dispatcher
  app/lib/handle_dispatcher.rb
Due: sast, publish-review-image, test

turn on handle creation at item creation
  app/actors/hyrax/actors/handle_assurance_actor.rb
  config/initializers/hyrax.rb
  lib/tasks/handle.rake
Due: sast, publish-review-image, test

comment out handle job
  config/initializers/hyrax.rb
Due: sast, publish-review-image

adding new organizations, pt 1
  config/authorities/host_organization.yml
Due: sast, publish-review-image

retain facets throughout
  app/views/catalog/index.html.erb
Due: sast, publish-review-image, test

facets include collection/keywords
  app/controllers/catalog_controller.rb
  app/views/catalog/index.html.erb
Due: sast, publish-review-image, test

more host orgs
  config/authorities/host_organization.yml
Due: sast, publish-review-image

removed catalog facets
  app/views/catalog/index.html.erb
Due: sast, publish-review-image, test

diplay changes
  app/controllers/catalog_controller.rb
  config/authorities/host_organization.yml
Due: sast, publish-review-image, test

keep facets
  app/views/catalog/index.html.erb
Due: sast, publish-review-image, test

removed google+ added tubmlr
  app/views/hyrax/base/_social_media.html.erb
Due: sast, publish-review-image, test

qr demo
  Gemfile
  app/helpers/qr_helper.rb
  app/views/hyrax/base/_handle.html.erb
  app/views/hyrax/base/_qrcode.html.erb
  app/views/hyrax/documents/show.html.erb
Due: dependency_scanning, sast, publish-dependencies-image, publish-review-image, test

qr codes on all objects
  Gemfile.lock
  app/views/hyrax/base/show.html.erb
  app/views/hyrax/external_objects/show.html.erb
  app/views/hyrax/images/show.html.erb
Due: dependency_scanning, sast, publish-dependencies-image, publish-review-image, test

removed google+ added tumbler
  app/views/hyrax/base/_social_media.html.erb
Due: sast, publish-review-image, test

Limit container placement
  docker-compose.prod.yml
Due: none

Remove duplicate redis key
  docker-compose.override.yml
Due: none

Downgrade sidekiq
  Gemfile
  Gemfile.lock
Due: dependency_scanning, publish-dependencies-image, publish-review-image

Only show qr code when handle is not nil
  app/views/hyrax/base/_qrcode.html.erb
Due: sast, publish-review-image, test

Run webapp by default
  Dockerfile-dependencies
Due: publish-dependencies-image

Run separate sidekiq container by default
  docker-compose.override.yml
Due: none

Create separate sidekiq service
  docker-compose.prod.yml
Due: none

Disable healthcheck for sidekiq service
  docker-compose.prod.yml
Due: none

Override command
  docker-compose.prod.yml
Due: none

Make replicas variable
  .gitlab-ci.yml
  docker-compose.prod.yml
Due: publish-dependencies-image, publish-review-image, publish-solr-image, publish-fcrepo-image, publish-solr-ci-image

Configure application updates
  docker-compose.prod.yml
Due: none

adding metadata field for nursing project
  app/controllers/catalog_controller.rb
  app/controllers/hyrax/documents_controller.rb
  app/forms/hyrax/document_form.rb
  app/lib/medspace/record.rb
  app/models/concerns/dumcla/metadata/descriptive.rb
  app/models/solr_document.rb
  app/presenters/hyrax/document_presenter.rb
  app/services/hyrax/work_unit_service.rb
  app/views/hyrax/documents/_attribute_rows.html.erb
  app/views/records/edit_fields/_work_unit.html.erb
  config/authorities/work_unit.yml
  config/locales/hyrax.en.yml
  true
Due: sast, publish-review-image, test

default field lengths for descriptions
  app/views/catalog/_index_list_default.html.erb
  config/authorities/work_unit.yml
Due: sast, publish-review-image, test

Bump puma to 3.12.2
  Gemfile
  Gemfile.lock
Due: dependency_scanning, publish-dependencies-image, publish-review-image

Include dependency scanning template
  .gitlab-ci.yml
Due: publish-dependencies-image, publish-review-image, publish-solr-image, publish-fcrepo-image, publish-solr-ci-image

Path conditions:
  dependency_scanning: any of: Gemfile, Gemfile.lock
  sast: any of: app/**/*, config/**/*, spec/**/*, test/**/*
  publish-dependencies-image: any of: Gemfile, Gemfile.lock, Dockerfile-dependencies, .gitlab-ci.yml
  publish-review-image: any of: app/**/*, bin/**/*, config/**/*, lib/**/*, public/**/*, vendor/**/*, Gemfile, Gemfile.lock, Dockerfile, .gitlab-ci.yml
  publish-solr-image: any of: solr/**/*, .gitlab-ci.yml
  publish-fcrepo-image: any of: docker-fcrepo/**/*, .gitlab-ci.yml
  publish-solr-ci-image: any of: solr/**/*, .gitlab-ci.yml
  test: any of: app/**/*, spec/**/*, test/**/*
