Repository dumclibrary/medspace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency_scanning, sast, test, medspace_build, fcrepo_build, solr_build

Path conditions:
  dependency_scanning: any of: Gemfile, Gemfile.lock
  sast: any of: app/**/*, config/**/*, spec/**/*, test/**/*
  test: any of: app/**/*, spec/**/*, test/**/*
  medspace_build: any of: app/**/*, bin/**/*, config/**/*, lib/**/*, public/**/*, vendor/**/*, Gemfile, Gemfile.lock, Dockerfile
  fcrepo_build: any of: docker-fcrepo/**/*
  solr_build: any of: solr/**/*

Deploy review app
  .gitlab-ci.yml
Due: none

Rename compose file
  .gitlab-ci.yml
  docker-compose.prod.yml
Due: none

Use HOST_NAME variable
  docker-compose.prod.yml
Due: none

Add command
  Dockerfile-dependencies
Due: none

Remove schedules
  .gitlab-ci.yml
Due: none

Set dependency build stage to pre-publish
  .gitlab-ci.yml
Due: none

Only build dependencies when scheduled
  .gitlab-ci.yml
Due: none

Formatting
  .gitlab-ci.yml
Due: none

Configure master review application
  .gitlab-ci.yml
  docker-compose.prod.yml
Due: none

Create tasks to publish fcrepo and solr
  .gitlab-ci.yml
  solr/Dockerfile-ci
Due: solr_build

Add deployment tasks for dependencies
  .gitlab-ci.yml
Due: none

Move to deploy stage
  .gitlab-ci.yml
Due: none

Add start period
  Dockerfile-dependencies
Due: none

Rebuild when .gitlab-ci changes
  .gitlab-ci.yml
Due: none

Set force_ssl to false
  config/environments/production.rb
Due: sast, medspace_build

Install handle software
  Dockerfile-dependencies
Due: none

Separate tag from image
  .gitlab-ci.yml
Due: none

Create stable branch deployment
  .gitlab-ci.yml
  docker-compose.prod.yml
Due: none

Add handle variables
  .gitlab-ci.yml
  docker-compose.prod.yml
Due: none

Mount admin key
  docker-compose.prod.yml
Due: none

Fix spelling
  docker-compose.prod.yml
Due: none

Add task to publish stable image
  .gitlab-ci.yml
Due: none

Use correct database name
  .gitlab-ci.yml
Due: none

Update storage environment
  .gitlab-ci.yml
Due: none

Clean up apt cache
  Dockerfile-dependencies
Due: none

Remove unused packages
  Dockerfile-dependencies
Due: none

Set user to rails
  Dockerfile
Due: medspace_build

Define email host
  config/environments/production.rb
Due: sast, medspace_build

Add mailer host
  config/environments/production.rb
Due: sast, medspace_build

Only build dependencies images on scheduled pipelines
  .gitlab-ci.yml
Due: none

Raise an error with the object
  app/actors/hyrax/actors/handle_assurance_actor.rb
Due: sast, test, medspace_build

Try blank
  app/actors/hyrax/actors/handle_assurance_actor.rb
Due: sast, test, medspace_build

Disable handle assurance actor
  config/initializers/hyrax.rb
Due: sast, medspace_build

changed handle.empty to handle.blank
  app/actors/hyrax/actors/handle_assurance_actor.rb
  lib/tasks/handle.rake
Due: sast, test, medspace_build

Mount gluster volume tmp directories
  docker-compose.prod.yml
Due: none

Add task to recreate derivatives
  lib/tasks/recreate_derivatives.rake
Due: medspace_build

changed all based_near to at_location
  app/lib/medspace/validator.rb
  app/models/concerns/dumcla/validation.rb
  app/presenters/hyku/manifest_enabled_work_show_presenter.rb
  app/views/hyrax/collections/_show_document_list_row.html.erb
  app/views/hyrax/images/_attribute_rows.html.erb
Due: sast, test, medspace_build

ignores nil sets
  app/views/hyrax/collections/_show_document_list_row.html.erb
Due: sast, test, medspace_build

ignores location and br tag if not logged in
  app/views/hyrax/collections/_show_document_list_row.html.erb
Due: sast, test, medspace_build
