Repository dumclibrary/medspace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dependency_scanning, sast, test, medspace_build, fcrepo_build, solr_build

dependency_scanning:
  stage: test
  cache: {}
  image: docker:stable
  tags:
  - docker
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  ...

sast:
  stage: test
  cache: {}
  image: docker:stable
  tags:
  - docker
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  ...

test:
  stage: test
  image: $CI_REGISTRY/mclibrary/medspace
  services:
  - redis:3-alpine
  - $CI_REGISTRY/mclibrary/medspace/solr:ci
  - $CI_REGISTRY/mclibrary/medspace/fcrepo
  variables:
    REDIS_HOST: redis
    FCREPO_URL: http://$CI_REGISTRY-mclibrary-medspace-fcrepo:8080
  ...

medspace_build:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker pull $MEDSPACE_IMAGE:latest || true
  - docker build --cache-from $MEDSPACE_IMAGE:latest -t $MEDSPACE_IMAGE .
  - docker push $MEDSPACE_IMAGE
  tags:
  - docker

fcrepo_build:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker build -t $FCREPO_IMAGE docker-fcrepo
  - docker push $FCREPO_IMAGE
  tags:
  - docker

solr_build:
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker build -t $SOLR_IMAGE solr
  - docker build -t $SOLR_IMAGE:ci -f solr/ci.Dockerfile solr
  - docker push $SOLR_IMAGE
  - docker push $SOLR_IMAGE:ci
  tags:
  - docker

Use environment variable to define the redis namespace
  config/initializers/hyrax.rb
  docker-compose.production.yml
Due: sast, medspace_build

Use shared login token
  .gitlab-ci.yml
Due: none

Create redis configuration
  docker-compose.redis.yml
  docker-compose.yml
Due: none

Add redis network
  docker-compose.production.yml
Due: none

Deploy redis image
  .gitlab-ci.yml
Due: none

Use CI token to login for builds
  .gitlab-ci.yml
Due: none

Define medspace_redis_net
  docker-compose.production.yml
Due: none

Rename redis service
  docker-compose.redis.yml
Due: none

Update redis host
  docker-compose.production.yml
Due: none

Create sidekiq service
  docker-compose.production.yml
Due: none

Set REDIS_URL for sidekiq explicitly
  docker-compose.production.yml
Due: none

Mount nfs volume for uploads
  docker-compose.production.yml
Due: none

Create separate space for dev and prod uploads
  docker-compose.production.yml
Due: none

Define upload path
  config/initializers/hyrax.rb
Due: sast, medspace_build

Use default directory for uploads
  config/initializers/hyrax.rb
  docker-compose.production.yml
Due: sast, medspace_build

Define images for fcrepo and db
  docker-compose.override.yml
Due: none

Fix solr configuration
  docker-compose.override.yml
Due: none

Use bundle in bin directory
  docker-compose.production.yml
Due: none

Use rails migrate directly
  docker-compose.production.yml
Due: none

Add snapshot directory to dockerignore
  .dockerignore
Due: none

Upgrade hyrax gem
  Gemfile
  Gemfile.lock
Due: dependency_scanning, medspace_build

Install migrations
  db/migrate/20190129174945_create_collection_types.hyrax.rb
  db/migrate/20190129174946_update_collection_type_column_names.hyrax.rb
  db/migrate/20190129174947_update_collection_type_column_options.hyrax.rb
  db/migrate/20190129174948_create_collection_branding_infos.hyrax.rb
  db/migrate/20190129174949_create_collection_type_participants.hyrax.rb
  db/migrate/20190129174950_rename_admin_set_id_to_source_id.hyrax.rb
  db/migrate/20190129174951_add_collection_type_sharing_options.hyrax.rb
  db/migrate/20190129174952_add_branding_to_collection_type.hyrax.rb
  db/migrate/20190129174953_add_badge_color_to_collection_types.hyrax.rb
  db/schema.rb
Due: none

Disable SuggestComponent
  solr/conf/solrconfig.xml
  solr/config/solrconfig.xml
Due: solr_build

Update config location
  solr/Dockerfile
  solr/ci.Dockerfile
Due: solr_build

Add development secret
  app.env
Due: none

Add image names for solr and fcrepo
  docker-compose.override.yml
Due: none

facets on items listing
  app/assets/.DS_Store
  app/controllers/catalog_controller.rb
  app/forms/hyrax/document_form.rb
  app/forms/hyrax/external_object_form.rb
  app/views/catalog/index.html.erb
  app/views/hyrax/collections/_show_document_list_row.html.erb
  app/views/hyrax/collections/show.html.erb
Due: sast, test, medspace_build

Remove rest from fcrepo url
  .gitlab-ci.yml
Due: none

Deploy in development mode
  docker-compose.production.yml
Due: none

Run development migrations
  docker-compose.production.yml
Due: none

Deploy in production mode
  docker-compose.production.yml
Due: none

Add rest to URL
  .gitlab-ci.yml
Due: none

Fix fedora url
  config/fedora.yml
Due: sast, medspace_build

Fix fedora url
  .gitlab-ci.yml
Due: none

Hard code fcrepo url
  config/fedora.yml
Due: sast, medspace_build

Get fcrepo url from environment
  config/fedora.yml
Due: sast, medspace_build

Update Gemfile lock
  Gemfile.lock
Due: dependency_scanning, medspace_build

moved images
  app/views/hyrax/homepage/index.html.erb
  public/00837.png
  public/art.png
  public/bld00027.png
  public/his_col.jpg
  public/publication.jpg
  public/sch_wrks.jpg
Due: sast, test, medspace_build

background image viewable
  app/views/hyrax/homepage/index.html.erb
Due: sast, test, medspace_build

tests
  .gitlab-ci.yml
Due: none

Path conditions:
  dependency_scanning: any of: Gemfile, Gemfile.lock
  sast: any of: app/**/*, config/**/*, spec/**/*, test/**/*
  test: any of: app/**/*, spec/**/*, test/**/*
  medspace_build: any of: app/**/*, bin/**/*, config/**/*, lib/**/*, public/**/*, vendor/**/*, Gemfile, Gemfile.lock, Dockerfile
  fcrepo_build: any of: docker-fcrepo/**/*
  solr_build: any of: solr/**/*
